<!DOCTYPE html>
{% load staticfiles %}
<html lang="en-us">
{% block head %}
    <head>
    
    <title>{% block title %}Trauma survey{% endblock %}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" type="image/ico" href="http://www.tampabay.com/universal/images/template/favicon.ico" />
    <link rel="icon" type="image/gif" href="http://www.tampabay.com/universal/images/template/favicon.gif" />     
    {% block styles %}
    <link href="{% static "checkup/css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "checkup/css/animate+animo.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "checkup/css/checkup.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "checkup/css/overviewmq.css" %}" rel="stylesheet" media="screen">
    {% endblock styles %}
    {% block fonts %}
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300|Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400,300' rel='stylesheet' type='text/css'>
    {% endblock fonts %}
    {% block share %}{% endblock share %}
    
    {% block page_load %}<script>function page_load() {}</script>{% endblock %}
    <script>
        var in_right, out_right, in_left, out_left;
        in_right  = "bounceInRight";
        in_left   = "bounceInLeft";
        out_right = "fadeOutRightBig";
        out_left  = "fadeOutLeftBig";
    </script>
    </head>
{% endblock head %}
        
    <body>
<div id="topbar"><a href="http://www.tampabay.com"><img src="http://tbprojects.s3.amazonaws.com/trauma/answers/static/checkup/images/times_logo_horiz_white_.gif" alt="tampabay.com" /></a></div>    
    {% block body_top %}{% endblock body_top %}
    {% block content %}{% endblock content %}


    <div class="footer">{% block footer %}{% include "checkup/byline.html" %}
<p>Copyright&nbsp;© {% now 'Y' %} Tampa Bay Times</p>{% endblock footer %}</div>
    
    {% block scripts %}<!-- JavaScript -->
    <script>
    WebFontConfig = {
    	google: { families: ['Bevan::latin', 'Francois+One::latin'] },
    	fontinactive: function (fontFamily, fontDescription) {
    		//Something went wrong! Let's load our local fonts.
    		WebFontConfig = {
    			custom: { families: ['Bevan', 'Francois+One'],
    				urls: ['http://www.tampabay.com/iwov-resources/fonts/bevan.css', 'http://www.tampabay.com/iwov-resources/fonts/francoisone.css'] }
    		};
    	loadFonts();
    	}
    };
    
    function loadFonts() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1.0.31/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    }
    (function () {
      loadFonts();
    })();        
    </script>
    <script src="{% static "checkup/js/modernizr.custom.js" %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static "checkup/js/underscore-min.js" %}"></script>
    
    <script>
        yepnope({% block preload %}{% endblock %}[[
            '{% static "checkup/js/jquery.history.js" %}',
            '{% static "checkup/js/is.mobile.js" %}',
            'ielt9!{% static "checkup/js/respond.min.js" %}'
        ], {
          test: Modernizr.csstransforms3d,
          yep : '{% static "checkup/js/animo.js" %}',
          nope: '{% static "checkup/js/animo-shim.js" %}'
        }{% block postload %}{% endblock %}]);
    </script>
    
    {% endblock scripts %}{% block body_bottom %}{% endblock body_bottom %}
    </body>
</html>
