{% extends base_template %}

{% load static %}

{% block title %}{{ survey.name }}{% endblock %}

{% block postload %}, [
            '{% static "checkup/js/jquery.isotope.min.js" %}',
            '{% static "checkup/js/waypoints.min.js" %}',
            '{% static "checkup/js/jquery.checkup.js" %}',
            '{% static "checkup/js/checkup.survey.js" %}'
        ]{% endblock postload %}


{% block body_bottom %}{{block.super}}
    <script type="text/template" id="bin_template">
      <div id="<%= key %>-wrapper" class="bin-wrapper col-sm-4">
        <div class="title-wrapper">
          <div class="title">
            <h4>
              <%= label %>
<!--               <div class="miniviz"></div> -->
              <div class="miniviz-ct">0</div>
            </h4>
          </div>
        </div>
        <div id="<%= key %>-bin" class="bin"></div>
      </div>
    </script>

    <script type="text/template" id="box_template">
      <a id="<%= key %>" href="<%= url %>" data-id="<%= id %>" class="item <%= respondent__party %>">
        <img class="img-responsive" src="<%= respondent__headshot %>">
        <div class="name caption">
          <span class="respondent-party <% print(respondent__party.charAt(0)) %>"><% print(respondent__party.charAt(0)) %></span>
          <small class="last_name"><span class="respondent-title"><%= respondent__title__short %></span> <%= respondent__last_name %></small> <br>
          <% if(comment_left) print('<span class="respondent-commented"><img src="{% static "checkup/img/commented_white.svg" %}"></span>') %>
        </div>
        
      </a>
    </script>
{% endblock body_bottom %}

{% block styles %}{{ block.super }}

    <link href="{% static "checkup/css/isotope.css" %}" rel="stylesheet" media="screen">
{% endblock styles %}

{% block content %}
    <div id="survey" class="container">
    <div class="row intro">
      <div class="col-sm-12">
          <div class="titleCont">
             <img src="http://tbprojects.s3.amazonaws.com/trauma/answers/static/checkup/images/insult_250x150.png" />   
          <h1>{{ survey.name }}</h1>
          </div>
          
          <div class="row">
            <div class="chatter col-md-10 col-md-push-1">
              {% autoescape off %}{{ survey.display_chatter|safe|linebreaks }} {% endautoescape %}
            </div>
          </div>
          <!--[if lte IE 8]>
            <div class="alert alert-danger">
              <p>You're using an older web browser that doesn't work well with this page. <a class="alert-link" href="{{ survey.first_assignment.get_absolute_url }}">Click here</a> to go to a page where you can browse through individual responses answers. Or open this page in <a class="alert-link" href="http://www.google.com/intl/en/chrome/browser/">Chrome</a> or <a class="alert-link" href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a> for the best experience. </p>
            </div>
          <![endif]-->
      </div>
    </div>
    
    <div id="checkup" class="row center-content">
      
    {% include "checkup/prev-arrow.html" %}
      
    <div class="col-sm-10">
    <div class="row question-container">
      <div class="col-sm-10 col-sm-offset-1">
        <aside class="question-leadin"><small class="directed_to"></small><span class="explanation"></span></aside>
      </div>
      <div class="clearfix"></div>

      <div class="question-wrapper col-xs-12">
        <div class="question-title">
          <h2 class="question"></h2>
          <!-- iPhone controls -->
          <div class="visible-xs">
            <div class="tiny-controls-bar">
              <a href="#" class="control control-tiny control-prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <span class="control-tiny-text">NEXT QUESTION</span>
              <a href="#" class="control control-tiny control-next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div> <!-- /question-wrapper -->
    </div> <!-- /row /question-container -->
    <div class="clearfix"></div>
    </div> <!-- /col-sm-10 -->
      
    {% include "checkup/next-arrow.html" %}
    
    <div id="bin-holder" class="col-sm-push-1 col-sm-10"></div>
    
    <div class="clearfix"></div>
    
    </div> <!-- /#checkup -->
    
    </div> <!-- /#survey -->
<script xmlns:tbt="http://www.tampabay.com" src="http://www.tampabay.com/universal/scripts/omniture/latest_tb.js" type="text/javascript"></script>
<script type="text/javascript">
            
                function ucwords( words ) {
                    return (words + '').replace(/^([a-z])|\s+([a-z])/g, function (words) {
                        return words.toUpperCase();
                    });
                }
            
            var attempt = new function() {
                this.counter = 0;
                this.max_time = 1000; // The maximum amount of time to wait for the user data, in milliseconds
                this.timeout = 100; // The amount of time between tries, in milliseconds
            }
            
            executeSiteCatalystRequest();
            
            function executeSiteCatalystRequest() {

                /* E-conversion Variables */
        
                // Get the county, if it is available
                s_spt.eVar18=s_spt.prop18='';
                s_adzone = 'topics_specials'.replace( /'/g, '' );
                //alert(s_adzone);
                s_adzone_array = s_adzone.split('_');

                if ( s_adzone_array.length > 1 && s_adzone_array[0] == 'news' ) {
                    county = s_adzone_array[1];
                    counties_array = ['hillsborough', 'pinellas', 'hernando', 'pasco'];
                    // If we can identify the story's county, populate prop18/eVar18.
                    if ( jQuery.inArray( county, counties_array ) > -1 ) {
                        s_spt.eVar18=s_spt.prop18=ucwords(county);
                    }
                }

                var sc_registration_status = "Non-Registered";
                var sc_login_status = "Not Logged In";

                s_spt.eVar1 = s_spt.prop1 = sc_registration_status;
                //alert(sc_registration_status);
                s_spt.prop13=s_spt.eVar13 = sc_login_status;
                //alert(sc_login_status);
        
                s_spt.server= "www.tampabay.com";
                s_pathname_array = window.location.pathname.split('/');
                s_pathname_prefix = s_pathname_array[1];
                s_pathname_ucfirst = ucwords( s_pathname_prefix );
                
                s_spt.pageName=s_spt.eVar30=s_spt.prop28=s_spt.eVar28="Topics: Specials: Trauma Fees Specials: Survey";
        
                s_spt.channel=s_spt.prop2=s_spt.eVar2='Topics';
                s_spt.prop3=s_spt.eVar3='Specials';
                s_spt.prop4=s_spt.eVar4='2014';
                s_spt.prop5=s_spt.eVar5='Survey';
                s_spt.hier1='Topics,Specials,2014,Trauma-survey';
                s_spt.hier2='Topics,Specials,2014,Trauma-survey';
                s_spt.prop11=s_spt.eVar11='';
                s_spt.prop12=s_spt.eVar12='';
                s_spt.prop21=s_spt.eVar21='';
                s_spt.prop22=s_spt.eVar22='';
                s_spt.prop23=s_spt.eVar23='';
                s_spt.prop24=s_spt.eVar24='';
                s_spt.prop25=s_spt.eVar25='';
                s_spt.prop27=s_spt.eVar27='Index';
                s_spt.eVar29=s_spt.prop29=''; 
                
                /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
                
                var s_code=s_spt.t();if(s_code)document.write(s_code);
                    
            }
            </script><noscript>
<a title="Web Analytics" href="http://www.omniture.com"><img alt="" border="0" width="1" height="1" src="http://metric.sptimes.com/b/ss/spttbglobal/1/H.22.1--NS/0"></a>
</noscript>{% endblock content %}
